body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

/* Check Box color */
.Mui-checked {
  color: #542020 !important;
}

.MuiFormHelperText-root {
  font-family: 'Poppins', sans-serif !important;
}