* {
  font-family: 'Poppins' !important;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Check Box color */
.Mui-checked {
  color: #542020 !important;
}

p.Mui-error{
  position: absolute !important;
  bottom: -20px !important;
  margin: 0;
}

